.header {
  margin: 0%;
  padding: 20px;
  background-color: #EAC926;
}

.top-part-of-header {
  align-items: center;
}

.bottom-part-of-header {
  display: none;
  padding: 5px;
  font-size: 17px;
  margin: 8px;
}
.bottom-part-of-header a {
  text-decoration: none;
  color: #222222;
}

.top-part-of-header .Logo {
  width: 150px;
  height: 100%;
  display: flex;
}

.search input {
  border: solid white 1px;
  border-radius: 3px;
  max-width: 110px;
}
.search-button {
  background-color: white;
  border: solid white;
  border-radius: 4px;
}
.search-button span{
  border: solid white;
}

.copy-header {
  font-size: 16px;
  font-weight: 10;
  text-align: center;
}

.hamburger-button {
  display: block;
  max-width: 40px;
  margin: auto;
  text-align: center;
  background-color: blue;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 18px;
  margin-top: 15px;
}
.hamburger-button a {
  color: white;
}

@media(min-width:360px) { 
.search{
display: flex;
border-radius: 8px;
flex-direction: row;
max-width: 150px;
position: relative;
right: -160px;
top: -30px;
justify-content: center; 
}
}