<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <enlace rel="preconectar" href="https://fonts.googleapis.com">
      <enlace rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
      <enlace href="https: //fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap" rel="stylesheet">
    <title>Home</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/header-desktop.css" />
    <link rel="stylesheet" href="/css/header-tablet.css" />
    <link rel="stylesheet" href="/css/main-desktop.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://kit.fontawesome.com/97f4523d05.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header class="header">
      <section class="top-part-of-header">
        <figure class="Logo">
          <img src="assets/logo-mercado-liebre.svg" alt="Logo" />
        </figure>
        <form class="search">
          <input
            type="text"
            type="search"
            placeholder="Buscar productos,marcas"
          />
          <button type="button" class="search-button">
            <span class="fa-solid fa-magnifying-glass"></span>
          </button>
        </form>
        <h2 class="copy-header">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </h2>
      </section>
      <nav class="hamburger-button">
        <a href="/">
          <i class="fas fa-bars"></i>
        </a>
      </nav>
      <div class="bottom-part-of-header">
        <nav>
          <a href="/">Ofertas</a>
          <a href="/">Tiendas Oficiales</a>
          <a href="/">Vender</a>
          <a href="/">Ayuda</a>
        </nav>

        <nav>
          <a href="/">
            Crea tu cuenta
            <i class="fa-solid fa-id-card"></i>
          </a>
          <a href="/">
            Ingresa
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          </a>
          <a href="/">
            Mis compras
            <i class="fa-solid fa-basket-shopping"></i>
          </a>
        </nav>
      </div>
    </header>

    <main>
      <section>
        <h2 class="ultimaVisita">Sección: Basado en tu última visita</h2>
        <section class="UltimosArticulosVistos">
          <article class="boxProduct">
            <figure>
              <img
                src="assets/img-cafetera-moulinex.jpg"
                alt="Cafetera Moulinex"
              />
            </figure>
            <div class="dataProduct">
              <p class="precios">$6770</p>
              <p class="descuentos">40% OFF</p>
              <h3>Cafetera img-cafetera-moulinex</h3>
            </div>
          </article>

          <article class="boxProduct">
            <figure>
              <img src="assets\img-macbook-pro-2019.jpg" alt="McBook Pro" />
            </figure>
            <div class="dataProduct">
              <p class="precios">$230.p</p>
              <p class="descuentos">20% off</p>
              <h3>MacBook Pro 2019</h3>
            </div>
          </article>

          <article class="boxProduct">
            <figure>
              <img
                src="assets\img-samsung-galaxy-s10.jpg"
                alt="Samsung Galaxy S"
              />
            </figure>

            <div class="dataProduct">
              <p class="precios">$70.500</p>
              <p class="descuentos">10% off</p>
              <h3>Samsung Galaxy S10</h3>
            </div>
          </article>

          <article class="boxProduct">
            <figure>
              <img src="assets\img-tv-samsung-smart.jpg" alt="Smart Tv" />
            </figure>
            <i class="fa-solid fa-truck"></i>
            <div class="dataProduct">
              <p class="precios">$23.200</p>
              <p class="descuentos">5% off</p>
              <h3>SmartTv Samsung 43"</h3>
            </div>
          </article>
        </section>
      </section>
    </main>

    <footer>
      <section>
        <article>
          <i class="fa-solid fa-credit-card"></i>
          <h2>Pagá con tarjeta o en efectivo</h2>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </article>
        <article>
          <i class="fa-solid fa-gift"></i>
          <h2>Envío gratis desde $ 2.500</h2>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </article>
        <article>
          <i class="fa-solid fa-user-shield"></i>
          <h2>Seguridad, de principio a fin</h2>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </article>
        <section>
          <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </section>
      </section>
    </footer>
  </body>
</html>
