<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="/css/mobile.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/iconos.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://kit.fontawesome.com/97f4523d05.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header class="main-header">
        <figure class="Logo">
          <img
            src="assets/logo-mercado-liebre.svg"
            alt="Logo"
          />
        </figure>
        <form>
          <input
            type="text"
            type="search"
            placeholder="Buscar productos,marcas"
            class="Barra-De-Busqueda"
          />
          <button type="button" class="lupa">
            <span class="fa-solid fa-magnifying-glass"></span>
          </button>
        </form>
        <h2 class="copy-header">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </h2>

      <nav class="hamburger-button">
        <a href="/">
          <i class="fas fa-bars"></i>
        </a>
      </nav>
        
      <nav class="left-navbar">
        <a href="/">Ofertas</a>
        <a href="/">Tiendas Oficiales</a>
        <a href="/">Vender</a>
        <a href="/">Ayuda</a>
      </nav>

        <nav class="righ-navbar">
          <a href="/">
          	Crea tu cuenta 
          	<i class="fa-solid fa-id-card"></i>
          </a>
          <a href="/">
          	Ingresa 
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          </a>
          <a href="/">
          	Mis compras 
            <i class="fa-solid fa-basket-shopping"></i>
          </a>
        </nav>
    </header>

    <section>

      <h2>Sección: Basado en tu última visita</h2>

      <article class="CajaMadre">
        <ul>
          <li>
        <figure>
          <img
            class="CajaHija"
            src="assets/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
        </figure>

        <section class="secciones-Productos">

          <p>$6770</p>
          <p>40% OFF</p>
          <p>Cafetera img-cafetera-moulinex</p>
        </section>
      </li>
      </article>
      <article class="CajaMadre">
        <figure>
          <img
            class="CajaHija"
            src="assets\img-macbook-pro-2019.jpg"
            alt="McBook Pro"
          />
        </figure>

        <section class="secciones-Productos">
          <p>$230.p</p>
          <p>20% off</p>
          <p>MacBook Pro 2019</p>
        </section>

      </article>

      <article class="CajaMadre">
        <figure>
          <img
            class="CajaHija"
            src="assets\img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S"
          />
        </figure>

        <section class="secciones-Productos">
          <p>$70.500</p>
          <p>10% off</p>
          <p>Samsung Galaxy S10</p>
        </section>

      </article>

      <article class="CajaMadre">
        <figure>
          <img
            class="CajaHija"
            src="assets\img-tv-samsung-smart.jpg"
            alt="Smart Tv"
          />
        </figure>

        <section class="secciones-Productos">
          <p>$23.200</p>
          <p>5% off</p>
          <p>SmartTv Samsung 43"</p>
        </section>

      </article>

    </section>
    <section>
      <h3>Sección de Ofertas</h3>
      <article class="CajaMadre">
        <figure>
          <img
            class="CajaHija"
            src="assets/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
        </figure>

        <section class="secciones-Productos">
          <p>$6770</p>
          <p>40% OFF</p>
          <p>Cafetera img-cafetera-moulinex</p>
        </section>

      </article>

      <article class="CajaMadre">
        <figure>
          <img
            class="CajaHija"
            src="assets\img-macbook-pro-2019.jpg"
            alt="MacBook Pro"
          />
        </figure>

        <section class="secciones-Productos">
          <p>$230.000</p>
          <p>20% off</p>
          <p>MacBook Pro 2019</p>
        </section>

      </article>

      <article class="CajaMadre">
        <figure>
          <img
            class="CajaHija"
            src="assets\img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
        </figure>

        <section class="secciones-Productos">
          <p>$70.500</p>
          <p>10% off</p>
          <p>Samsung Galaxy S10</p>
        </section>

      </article>

      <article class="CajaMadre">
        <figure>
          <img
            class="CajaHija"
            src="assets\img-tv-samsung-smart.jpg"
            alt=" Smart TV"
          />
        </figure>

        <section class="secciones-Productos">
          <p>$23.200</p>
          <p>5% off</p>
          <p>SmartTv Samsung 43"</p>
        </section>

      </article>

    </section>

    <footer>
      <section>
        <a href="/"><h5>Pagá con tarjeta o en efectivo</h5></a>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section>
        <a href="/"> <h5>Envío gratis desde $ 2.500</h5> </a>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section>
        <a href="/"><h5>Seguridad, de principio a fin</h5></a>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
      <section>
        <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
      </section>
    </footer>
  </body>
</html>
